{% extends "base.html" %}
{% block emailop %}

<div class="container">

      <div class="starter-template">
        <div class="row" style="height:100vh;">
                <div class="col-md-10 col-md-offset-1">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>author</th>
                          <th>publication</th>
                          <th>num_cited</th>
                          <th>published_time</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for val in output %}
                        <tr>
                          <td>{{val.author}}</td>
                          <td>{{val.publication}}</td>
                          <td>{{val.num_cited}}</td>
                          <td>{{val.published_time}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
        </div>
      </div>

    </div>

{% endblock %}
